{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'logo.png' %}" class="image_logo">
                <h1 class="text_logo">GARRIDO</h1>
            </div>
            <ul class="nav_list">
                <li class="menu"><a href="{% url 'home' %}" >Home</a></li>
                <li class="menu"><a href="{% url 'skills' %}">Skills</a></li>
                <li class="menu"><a href="{% url 'about' %}" class="active">About</a></li>
                <li class="menu"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="menu"><a href="{% url 'challenges' %}">Challenges</a></li>
                <li class="menu"><a href="{% url 'future_plans' %}">Future Plans</a></li>
                <li class="menu"><a href="{% url 'resume' %}">Resume</a></li>
                <li class="menu"><a href="{% url 'contact' %}">Contact Me</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <div class="about__container container grid">
                <div class="about__img-wrapper">
    
                    <img src="{% static 'dp2.jpg' %}" alt="2nd profile picture of the developer" class="about__img"/>
                    <img src="{% static 'dp2.jpg' %}" alt="2nd profile picture of the developer" class="about__img"/>
                    <img src="{% static 'dp2.jpg' %}" alt="2nd profile picture of the developer" class="about__img"/>
                    <img src="{% static 'dp2.jpg' %}"alt="2nd profile picture of the developer" class="about__img"/>
                </div>
                <div class="about__content">
                    <h2 class="section__title" data-title="Who am I?">Adrian O. Garrido</h2>
                    <p class="about__description">A Computer Science student at Cavite State University - Bacoor Campus,
                        passionate about web development and currently exploring JavaScript for frontend solutions and
                        Python with Django for backend capabilities
                    
                    <br><br>
                       For more details, you can download my Curriculum Vitae 
                </p>

                    <ul class="about__data grid">
                        <li class="data__item">
                            <h3 class="data__title">Name: </h3>
                            <span class="data__description">Adrian O. Garrido</span>
                        </li>
                        <li class="data__item">
                            <h3 class="data__title">Age: </h3>
                            <span class="data__description">21 years old</span>
                        </li>
                        <li class="data__item">
                            <h3 class="data__title">From: </h3>
                            <span class="data__description">Dasmariñas, Cavite</span>
                        </li>
                        <li class="data__item">
                            <h3 class="data__title">Email: </h3>
                            <span class="data__description about__link">ian13garrido@gmail.com</span>
                        </li>
                    </ul>

                    <div class="about__bottom">
                        <div class="gradient_cv">
                        <a href="{{ MEDIA_URL }}Curriculum vitae.pdf" class="cv_btn" download>Download Curriculum Vitae</a>
                    </div>
                        <div class="about__social-links">
                            <a href="https://www.facebook.com/adrian.garrido.94" class="about__social-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.instagram.com/ian_grrido/" class="about__social-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://github.com/Pleo-alt" class="about__social-link" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-github"></i> <!-- GitHub icon -->
                            </a>
                        </div>
                        
                    </div>
                    
                </div>
                </div>
        </section>
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>